<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Expires" content="30"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
            integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous">
    </script>
    <title>Viết tin tức</title>
    <link rel="stylesheet" th:href="@{/styles/css.css}">
    <style>
        .sticky {
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 100;
            border-top: 0;
        }
    </style>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:insert="~{fragments/header :: nav}"></nav>
<section id="single-news">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-md-8">
                <form id="newsForm">
                    <p class="title">
                        <label>
                            Tiêu đề :
                            <input type="text" name="title">
                        </label>
                    </p>
                    <p>
                        <label>
                            Thể loại:
                        </label>
                        <select name="category">
                            <option th:each="category : ${categories}" th:value="${category.id}"
                                    th:text="${category.name}"></option>
                        </select>
                    </p>
                    <div class="content">
                        <h3 class="info-des">Nội dung</h3>
                        <div id="toolbar-container"></div>
                        <div id="editor">
                            <p>Nội dung bài viết</p>
                        </div>
                    </div>
                    <div class="realty-infor">
                        <h3 class="info-des">Meta tags: </h3>
                        <textarea name="metas" rows="8" style="width: 100%;"></textarea>
                    </div>
                    <button id="newsSubmitButton" type="button" name="button">Save</button>
                </form>

            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <aside id="widget" class="d-none d-md-block d-lg-block">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <a href="https://danangland.org" title="bản đồ nguyễn tri phương">
                                <img src="https://danangland.org/upload/upload/banner/nguyen-tri-phuong-da-nang.jpg"
                                     alt="bản đồ nguyễn tri phương" title="bản đồ nguyễn tri phương"
                                     class="img-fluid center-block" width="auto" height="auto">
                            </a>
                        </div>
                    </div>
                </aside>
                <aside id="widget-news">
                    <h2 class="title">
                        Tin Nổi Bật
                    </h2>
                    <div class="item row no-gutters">
                        <div class="col-4 col-sm-4 col-md-4">
                            <a href="https://danangland.org/tin-tuc/nhung-ly-do-nen-mua-dat-hoa-xuan-dau-tu"
                               title="Những lý do nên mua đất Hoà Xuân đầu tư ngay lúc này" class="title-image">
                                <img src="https://danangland.org/upload/tin-tuc-dat-da-nang/nhung-ly-do-nen-mua-dat-da-nang.jpg"
                                     alt="Những lý do nên mua đất Hoà Xuân đầu tư ngay lúc này"
                                     title="Những lý do nên mua đất Hoà Xuân đầu tư ngay lúc này"
                                     class="img-fluid center-block" width="auto" height="auto">
                            </a>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8">
                            <h3>
                                <a href="https://danangland.org/tin-tuc/nhung-ly-do-nen-mua-dat-hoa-xuan-dau-tu"
                                   title="Những lý do nên mua đất Hoà Xuân đầu tư ngay lúc này">
                                    Những lý do nên mua đất Hoà Xuân đầu tư ngay lúc này
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="item row no-gutters">
                        <div class="col-4 col-sm-4 col-md-4">
                            <a href="https://danangland.org/tin-tuc/cap-nhat-tinh-hinh-dat-hoa-xuan-bien-dong-tang-giam-sot-tro-lai"
                               title="Cập nhật tình hình đất Hòa Xuân biến động tăng giảm sốt trở lại thời gian qua"
                               class="title-image">
                                <img src="https://danangland.org/upload/tin-tuc-dat-da-nang/dat-hoa-xuan-tang-gia-giam-gia.jpg"
                                     alt="Cập nhật tình hình đất Hòa Xuân biến động tăng giảm sốt trở lại thời gian qua"
                                     title="Cập nhật tình hình đất Hòa Xuân biến động tăng giảm sốt trở lại thời gian qua"
                                     class="img-fluid center-block" width="auto" height="auto">
                            </a>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8">
                            <h3>
                                <a href="https://danangland.org/tin-tuc/cap-nhat-tinh-hinh-dat-hoa-xuan-bien-dong-tang-giam-sot-tro-lai"
                                   title="Cập nhật tình hình đất Hòa Xuân biến động tăng giảm sốt trở lại thời gian qua">
                                    Cập nhật tình hình đất Hòa Xuân biến động tăng giảm sốt trở lại thời gian qua
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="item row no-gutters">
                        <div class="col-4 col-sm-4 col-md-4">
                            <a href="https://danangland.org/tin-tuc/mua-ban-dat-du-an-dao-vip-hoa-xuan-da-nang"
                               title="Thông Tin Mua Bán Đất dự án Đảo Vip Hòa Xuân Đà Nẵng" class="title-image">
                                <img src="https://danangland.org/upload/tin-tuc-dat-da-nang/ban-dat-dao-vip-hoa-xuan-da-nang.jpg"
                                     alt="Thông Tin Mua Bán Đất dự án Đảo Vip Hòa Xuân Đà Nẵng"
                                     title="Thông Tin Mua Bán Đất dự án Đảo Vip Hòa Xuân Đà Nẵng"
                                     class="img-fluid center-block" width="auto" height="auto">
                            </a>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8">
                            <h3>
                                <a href="https://danangland.org/tin-tuc/mua-ban-dat-du-an-dao-vip-hoa-xuan-da-nang"
                                   title="Thông Tin Mua Bán Đất dự án Đảo Vip Hòa Xuân Đà Nẵng">
                                    Thông Tin Mua Bán Đất dự án Đảo Vip Hòa Xuân Đà Nẵng
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="item row no-gutters">
                        <div class="col-4 col-sm-4 col-md-4">
                            <a href="https://danangland.org/tin-tuc/thong-tin-chi-tiet-du-an-can-ho-condotel-malibu-hoi-an-quang-nam"
                               title="Thông tin chi tiết dự án căn hộ condotel Malibu Hội An Quảng Nam"
                               class="title-image">
                                <img src="https://danangland.org/upload/malibu-hoi-an.jpg"
                                     alt="Thông tin chi tiết dự án căn hộ condotel Malibu Hội An Quảng Nam"
                                     title="Thông tin chi tiết dự án căn hộ condotel Malibu Hội An Quảng Nam"
                                     class="img-fluid center-block" width="auto" height="auto">
                            </a>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8">
                            <h3>
                                <a href="https://danangland.org/tin-tuc/thong-tin-chi-tiet-du-an-can-ho-condotel-malibu-hoi-an-quang-nam"
                                   title="Thông tin chi tiết dự án căn hộ condotel Malibu Hội An Quảng Nam">
                                    Thông tin chi tiết dự án căn hộ condotel Malibu Hội An Quảng Nam
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="item row no-gutters">
                        <div class="col-4 col-sm-4 col-md-4">
                            <a href="https://danangland.org/tin-tuc/co-nen-mua-dat-da-nang-vao-thoi-diem-nay-de-dau-tu"
                               title="[Xem ngay] Có nên mua đất Đà Nẵng vào thời điểm này để đầu tư"
                               class="title-image">
                                <img src="https://danangland.org/upload/tin-tuc-dat-da-nang/co-nen-mua-dat-thoi-diem-nay.jpg"
                                     alt="[Xem ngay] Có nên mua đất Đà Nẵng vào thời điểm này để đầu tư"
                                     title="[Xem ngay] Có nên mua đất Đà Nẵng vào thời điểm này để đầu tư"
                                     class="img-fluid center-block" width="auto" height="auto">
                            </a>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8">
                            <h3>
                                <a href="https://danangland.org/tin-tuc/co-nen-mua-dat-da-nang-vao-thoi-diem-nay-de-dau-tu"
                                   title="[Xem ngay] Có nên mua đất Đà Nẵng vào thời điểm này để đầu tư">
                                    Có nên mua đất Đà Nẵng vào thời điểm này để đầu tư
                                </a>
                            </h3>
                        </div>
                    </div>

                </aside>
            </div>
        </div>
    </div>
</section>
<section class="footer-distributed">
    <footer class="container">

        <div class="footer-left">

            <div><a href=""><img class="logo_bot" src="anh/logochuan.png" alt=""/></a></div>

            <div class="footer-links">
                <p>Địa chỉ &nbsp;: abc xyz </p>

                <p>Điện thoại&nbsp;: 123456789</p>

                <p>Email &nbsp;: Info@com</p>
            </div>
            <div class="footer-icons">

                <a href="#"><i class="fab fa-facebook-square fa-3x"></i></a>
                &nbsp; &nbsp; &nbsp;
                <a href="#"><i class="fab fa-twitter-square fa-3x"></i></a>
                &nbsp; &nbsp; &nbsp;
                <a href="#"><i class="fab fa-instagram fa-3x"></i></a>
                &nbsp; &nbsp; &nbsp;
                <a href="#"><i class="fab fa-google-plus-square fa-3x"></i></a>

            </div>

        </div>

        <div class="footer-right">
            <div>
                <p style="text-align: center;"> <h4>LIÊN HỆ VỚI CHÚNG TÔI</h4></p>
            </div>
            <form action="#" method="post">
                <input type="text" name="name" placeholder="Họ Tên"/>
                <input type="text" name="phonenumber" placeholder="Số Điện Thoại"/>
                <input type="text" name="email" placeholder="Email"/>
                <textarea name="message" placeholder="Tin Nhắn "></textarea>
                <button>Send</button>
            </form>
        </div>
    </footer>
</section>
<a class="back-to-top">
    <i class="fas fa-arrow-circle-up fa-3x" aria-hidden="true"></i>
</a>
<div id="fb-root"></div>
<script type="text/javascript" th:src="@{/scripts/main.js}"></script>
<script>
    window.onscroll = function () {
        myFunction()
    };

    var navbar = document.getElementById("menu");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>
</body>
</html>
